@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.navbar{
    width: 100vw;
    height: 80px;
    box-shadow: 0px 5px 15px #0002;
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: fixed;
    top: 0;
    z-index: 1000;
    background-color: #fff;
    
    transition: 0.3s ease-in-out;
}

.name{
    display: flex;
    justify-content: start;
    align-items: center;
    text-align: start;
    min-width: 100px;
    width: auto;
    height: 100%;
    margin-left: 20%;
}

.options{
    display: grid;
    grid-template-columns: 150px 100px 50px 100px;
    justify-content: end;
    align-items: center;
    padding-right: 15%;
    width: auto;
    transition: 0.3s ease-in-out;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(160deg, #EDBAEE, #88D4D9);
    background-repeat: no-repeat;
    background-size: cover;
}


@media (max-width: 600px) {
    .navbar {
      font-size: 0.8rem !important;
    }

    .options{
        grid-template-columns: 70px 50px 30px 80px !important;
        justify-content: center !important;
        align-items: center !important;
        padding-right: 0 !important;
    }
  }