@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.main-container {
  background: linear-gradient(
      127deg,
      rgba(47, 0, 216, 0.7),
      rgba(255, 0, 242, 0.37) 70%
    ),
    linear-gradient(336deg, rgba(86, 0, 184, 0.8), rgba(0, 255, 255, 0.37) 70%),
    linear-gradient(217deg, rgb(98, 0, 255), rgb(255, 0, 234) 70%);

  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-form {
  background: white;
  min-width: 20vw;
  min-height: 40vh;
  padding: 2rem;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
}

.input-field {
  position: relative;
  margin-top: 2rem;
}

.input-field .underline::before {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: -5px;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
}

.input-field .underline::after {
  content: "";
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: -5px;
  left: 0;
  background: linear-gradient(200deg, #4776e6, #8e2de2);
  transform: scaleX(0);
  transition: all 0.3s ease-in-out;
  transform-origin: left;
}

.input-field input:focus ~ .underline::after {
  transform: scaleX(1);
}

.input-field input {
  border: 0;
  outline: none;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.7);
}

.input-field input::before {
  color: rgba(0, 0, 0, 0.5);
}

.container-text {
  display: flex;
  padding: 5rem;
  margin-right: 5rem;
  color: white;
}

.required {
  color: red;
}

.button {
  margin-top: 3rem;
  padding: 0.4rem;
  background: #4776e6;
  cursor: pointer;
  color: white;
  font-size: 0.9rem;
  font-weight: 300;
  border-radius: 4px;
  transition: all 0.3s ease;
  border: 0;
  text-align: center;
}

@media (max-width: 1000px) {
  .main-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    margin: 0;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 0;
  }

  .container-form {
    margin-top: 4rem;
    width: 80vw;
  }

  .container-text {
    margin-right: 0;
    display: flex;
    text-align: center;
    width: 100vw;
  }
}

@media (min-width: 800px) {
  .main-container {
    min-height: 100vh;
    height: 100vh;
  }
}

@media (min-height: 599px) and (max-height: 1000px) {
  .main-container {
    min-height: 100vh;
    height: 100%;
  }
}
